.fillcont { 
    background: #f9ffcf;
}
.container {
  max-width: 1094px; /* or 950px */
}
.container.superwide{
  max-width: 1094px; /* or 950px */
  width: 100%;
}

.stopbox{
	margin-left: auto;
	white-space: nowrap;
	width: 94vw;
	height: 42vw;
	max-width: 1094px;
	max-height: 547px;
}

.box{
	position: relative;
	width: 100%;
	height: 100%;
}

.box2{
	display: inline-block;
	position: relative;
	margin-left: auto;
	width: 50%;
	height: 100%;
	white-space: nowrap;
	max-width: 547px;
	max-height: 547px;
}

.sbncontent{
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-style: solid;
	border-width: 2px;
}
.centered{
	text-align: center;
}
.stopboxdyn{
	margin-left: auto;
	white-space: nowrap;
	width: 94vw;
	max-width: 1094px;
	max-height: 648px;
}

circle {
  stroke-width: 1.5px;
}

line {
  stroke: #999;
  stroke-opacity:.6;
}


#ex1Slider .slider-selection {
	background: red;
}

#ex13Slider{
  width: 75% !important;
}

#ex13Slider .slider-track {
	background: #FFDDAA;
}

#ex13Slider .slider-tick {
	background: #FF9933;
}

#ex13Slider.ranged .slider-tick.in-selection {
	background: #009933;
}

#ex13Slider.discreet .slider-selection {
  background-image: none;
  background: none;
}

#ex13Slider.ranged .slider-selection {
	background-image: linear-gradient(to bottom,#149bdf 0,#0480be 100%);
}

.methodParam{
	border-bottom: 1px dotted #000;
}

div.tooltip {   
  position: absolute;           
  text-align: left;                           
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}
div.tooltip.link {   
background: #99cc99;  
}

div.nodeLabelp {   
  z-index: 999;        
}

.sdev{
	color: #67a9cf;
}
.infsys{
	color: #ef8a62;
}

.coolImg{
	width:100%;
	height:100%;
}